<!--<h1 class="mt-5 text-center text-decoration-underline">Historique</h1>

<div class="d-flex justify-content-center">

  <div class="card w-25 ">
    <div class="card-body">
      <img src="https://iili.io/Hc70A5G.png" class="card-img-top>" alt="...">
    </div>
    <div>
      <h5 class="card-title">Pseudo</h5>
      <p class="card-text">PSEUDO est deteste/ apprecie, PSEUDO a desormais un score de SCORE.</p>
      <a href="#" class="btn btn-primary">Supprimer</a>
    </div>
  </div>

</div>-->


<div class="container">
  <div class="col-md-12 row mt-4">
    <div class="col row text-center">
      <h3>HISTORIQUE</h3>
    </div>
  </div>
  <div class="col row">
    <div class="col row border border-dark text-center">
      <img src="https://iili.io/Hc70A5G.png" alt="">
      <div class="col row ms-2">
        <h2 class="d-flex align-items-center mt-2">Pseudo </h2>
        <p class="d-flex align-items-center">PSEUDO est deteste/ apprecie, PSEUDO a desormais un score de SCORE.</p>
        <div class="col text-end mb-2">
          <a href="#" class="btn btn-dark">Supprimer</a>
        </div>
      </div>
    </div>
  </div>
</div>
