<!--<h1 class="mt-5 text-center text-decoration-underline">Historique</h1>

<div class="d-flex justify-content-center">

  <div class="card w-25 ">
    <div class="card-body">
      <img src="https://iili.io/Hc70A5G.png" class="card-img-top>" alt="...">
    </div>
    <div>
      <h5 class="card-title">Pseudo</h5>
      <p class="card-text">PSEUDO est deteste/ apprecie, PSEUDO a desormais un score de SCORE.</p>
      <a href="#" class="btn btn-primary">Supprimer</a>
    </div>
  </div>

</div>-->


<div class="container">
  <div class="col-md-12 row mt-4">
    <div class="col row text-center">
      <h3>HISTORIQUE</h3>
    </div>
  </div>
  <div *ngFor="let vote of tabVotes" class="col row mt-2">
    <div class="col row border rounded-2 border-dark text-center shadow-lg">
      <img src="{{vote.collegue.photo}}" alt="">
      <div class="col row">
        <h2 class="d-flex align-items-center mt-2">{{vote.collegue.pseudo | uppercase}} </h2>
        <p *ngIf="vote.vote==1; then thenBlock else elseBlock" ></p>
        <ng-template #thenBlock><p class="mx-3">{{vote.collegue.pseudo}} est detesté(e), son score est désormais de {{vote.collegue.score | score}}</p></ng-template>
        <ng-template #elseBlock><p class="mx-3">{{vote.collegue.pseudo}} est aimé(e), son score est désormais de {{vote.collegue.score | score}}</p></ng-template>

        <div class="col text-end mb-2">
          <a href="#" class="btn btn-dark">Supprimer</a>
        </div>
      </div>
    </div>
  </div>
</div>
